{% extends 'base.html.twig' %}

{% block body %}
    <form method="post">
        <h1> Mot de passe oublié </h1>

        <label for"inputEmail">Email</label>
        <input type="email" name"email" placeholder="Email">

        <button type="submit"> Envoyez le mail </button>
    </form>
{% endblock %}