{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<main id="admin_container">
    <nav>
        <a class="menu-admin" href =" {{path('utilisateurs')}}"> Gestion des utilisateurs</a>
        <a class="menu-admin" href =" {{path('tags')}}"> Gestion des tags</a>
        <a class="menu-admin" href =" {{path('sujets')}}"> Gestion des sujets</a>
    </nav>

    <div> 

    {% block admin_body %} {% endblock %}

    </div>
</main>
{% endblock %}
