{% extends 'admin/adminlayout.html.twig' %}

{% block title %} Modifier un membre {% endblock %}

{% block admin_body %}
<div id="login-body2">
    <h1 class="white-titre"> Modifier un membre </h1>
    {{form(userForm)}}
</div>
{% endblock %}