{% extends 'base.html.twig' %}

{% block title %} Créér ton topic ! {% endblock %}
 
{% block body %}
 <div class="uk-container">
    <div id="login-body2">
    <h1 class="white-titre"> Créer un sujet </h1>
        
        {% if app.user %}
            {{ form(addSujet) }}
            
        {% else %}
            <div class="uk-animation-toggle" tabindex="0">
                <div class="uk-card uk-card-default uk-card-body uk-animation-shake">
                    <p class="uk-text-center">Veuillez vous connecter pour poster un sujet ! </p>
                </div>
            </div>

        {% endif %}
    </div>
        

</div>
{% endblock %}


